<html>
    <head>
        <title>Cleo Manicure</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>
    <body>
        
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
                <div class="uk-navbar-left">
        
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Inicio</a></li>
                        <li class="uk-active"><a href="#preco" uk-scroll>Precos</a></li>
                        <li class="uk-active"><a href="#sobre" uk-scroll>Sobre</a></li>
                    </ul>
        
                </div>
            </nav>
        </div>
        <div class="uk-container"></div>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

            <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20191105_163711.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/IMG-20200808-WA0008.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20200613_083602.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20191105_163711.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20200613_083602.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
        </div>
        <div id="preco" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="images/IMG-20200901-WA0006.jpg" alt="Preço">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Venha marcar Seu Horario!</h3>
                    <p>Para marcar um horario é muito facio, é so mandar mensagem no Whatsapp (67) 99294-3882. <a href=" https://api.whatsapp.com/send?phone=5567992943882&text=Ola me chamo ****, encontrei seu numero na internet e gostaria de marcar um horario">Para agilizar clique aqui</a></p>
                </div>
            </div>
        </div>
        </div>
        <hr class="uk-divider-icon">
        <div id="sobre" class="uk-container">
            <div class="uk-card uk-card-default uk-padding uk-margin">                
                <h1>Sobre</h1>
                <h3>Olá pessoal ! me chamo Cleonecir, mas pode me chamar de Cléo, sou manicure, pedicure, depiladora e designer de sobrancelha, com mais de 12 anos trabalhando na área, atendo somente com horário marcado no WhatsApp (67) 992943882. Espero você no meu salão ❤🌹</h3>
        
            </div>
        </div>
    
        </body>
</html>