<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cleo Manicure</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
                <div class="uk-navbar-left">
        
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Inicio</a></li>
                        <li class="uk-active"><a href="#preco" uk-scroll>Precos</a></li>
                        <li class="uk-active"><a href="#sobre" uk-scroll>Sobre</a></li>
                    </ul>
        
                </div>
            </nav>
        </div>
        <div class="uk-container"></div>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

            <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20191105_163711.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/IMG-20200808-WA0008.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20200613_083602.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20191105_163711.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
                <li class="uk-width-3-4">
                    <div class="uk-cover-container">
                        <img src="images/20200613_083602.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-panel"></div>
                    </div>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
        </div>
        <div id="preco" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="images/IMG-20200901-WA0006.jpg" alt="Preço">
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Venha marcar Seu Horario!</h3>
                    <form action="/marcar" method="POST">
                        <input class="uk-input uk-width-1-2" type="text" name="nome" placeholder="Nome">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-select">Serviços</label>
                            <div class="uk-form-controls">
                                <select class="uk-select uk-width-1-2" id="form-stacked-select" name="servico">
                                    <option value="Mão">Mão</option>
                                    <option value="Pé">Pé</option>
                                    <option value="Pé / Mão">Pé / Mão</option>
                                    <option class="uk-text-bold" disabled="">--- * ---</option>
                                    <option value="Sobracelha">Sobracelha</option>
                                    <option value="Sobracelha (henna)">Sobracelha (henna)</option>
                                    <option value="Depilação (completa)">Depilação (completa)</option>
                                    <option value="Depilação (simples)">Depilação (simples)</option>
                                    <option value="Axila">Axila</option>
                                    <option value="Buço">Buço</option>
                                    <option value="Rosto">Rosto</option>
                                    <option class="uk-text-bold" disabled="">--- * ---</option>
                                    <option value="Unha Acrilico">Unha Acrilico</option>
                                    <option value="Fibra de Vidro">Fibra de Vidro</option>
                                    <option value="Esmaltação em Gel">Esmaltação em Gel</option>
                                    <option value="Blindagem">Blindagem</option>
                                </select>
                            </div>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary" type="submit"> Enviar </button>
                            </div>
                            
                        </div>
                    </form>
                    <p>Para marcar um horario é muito facil, é so preencre o formulario ou mandar mensagem no Whatsapp (67) 99294-3882.

                </div>
            </div>
        </div>
        </div>
        <hr class="uk-divider-icon">
        <div id="sobre" class="uk-container">
            <div class="uk-card uk-card-default uk-padding uk-margin">                
                <h1>Sobre</h1>
                <h3>Olá pessoal ! pode me chamar de Cléo, sou manicure, pedicure, depiladora e designer de sobrancelha, com mais de 12 anos trabalhando na área, atendo somente com horário marcado no WhatsApp (67) 992943882. Espero você no meu salão ❤🌹</h3>
        
            </div>
        </div>
    
        </body>
</html>